<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        <p>Signed in as <span th:text="${username}">nobody</span></p>
        <p>You have <span th:text="${length}">no</span> image(s).</p>
        <div>Add an image</div>

        <div>
            <div th:each="image : ${images}">
                <a th:href="@{/views/images/{id}(id=${image.id})}"><img style="width:175px; height: 175px;" th:src="@{/images/{id}(id=${image.id})}" /> See This Image</a>
                <!-- <form th:unless="${image.isProfilePicture}" th:action="@{/profiles/{id}/profilepicture(id=${image.owner.profileId})}" method="POST"> -->
                <form th:action="@{/profiles/{id}/profilepicture(id=${image.owner.profileId})}" method="POST"><input type="hidden" name="imageId" th:value="${image.id}"/><button type="submit">Set as Profile Picture</button></form>
            </div>
        </div>
        <br />
        <form th:action="@{/images}" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" />
            <input type="text" name="description" />
            <input type="submit" value="Send!"/>
        </form>
    </body>
</html>
