<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Cafebook - your friends</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
        <div th:replace="fragments/layout :: header"></div>
        <h2>Thine Friends, scoundrel</h2>
        <div th:each="friend : ${friends}">
            <span>
                <a th:href="@{/profiles/{pid}(pid=${friend.profileId})}" th:text="${friend.username}"></a>
                <form th:action="@{/friendships/removals/{profileId}(profileId=${friend.profileId})}" method="POST">
                    <button type="submit" value="Remove friend" >Remove from friends</button>
                </form>
            </span>

        </div>
        </div>
    </body>
</html>
