<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Cafebook - Profile</title>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row justify-content-center">
            <div class="row justify-content-center">
                <div th:replace="fragments/layout :: header"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <div th:replace="fragments/layout :: signindisplay"></div>
                <div><a th:href="@{/profiles/{id}/gallery(id=${profile.profileId})}">Gallery</a></div>
                <div style="display: flex; justify-content: space-evenly">
                    <h1 th:text="${profile.username}" style="margin: 0 20px"></h1>
                    <img style="height: 150px; width: 150px; border-radius: 75px;" th:src="@{/profiles/{id}/profilepicture(id=${profile.profileId})}"/>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8">
                <p sec:authorize="{isAnonymous()}">Sign in to make <span th:text="${profile.username}">this person</span> your friend and comment on their stuff!</p>

                <div sec:authorize="hasAuthority('USER')" th:unless="${isFriend}">
                    <p>You must be friends with <span th:text="${profile.username}">this person</span> to leave messages on their wall.</p>
                    <form  th:action="@{/friendRequests}" method="POST">
                        <input type="hidden" name="target" th:value="${profile.profileId}"/>
                        <button type="submit" value="Send Friend Request" >Send a Friend Request</button>
                    </form>
                </div>

                <form th:if="${isFriend}" method="POST" th:action="@{/profiles/{id}/messages(id=${profile.profileId})}">
                    <input type="text" name="messageContent"></input>
                    <button type="submit">Send Message</button>
                </form>


                <div class="comment" th:each="message : ${messages}">
                    <a th:href="@{/profiles/{profileId}/messages/{messageId}(profileId=${profile.profileId},messageId=${message.id})}">See full thread</a>
                    <div>
                        <p th:text="${message.owner.username}"></p>
                        <p th:text="${message.createdAt.toString()}"></p>
                        <p th:text="${message.msg}"></p>
                    </div>

                    <div>
                        <p><span th:text="${message.messageComments.size()}"> </span> comments</p>
                        <p><span th:text="${#lists.size(message.likers)}"> </span> L's</p>
                        <div th:if="${isFriend}">
                            <p th:if="${#lists.contains(message.likers, currentlyLoggedInUser)}"><bold>LIKED BY YOU</bold></p>
                            <div th:unless="${#lists.contains(message.likers, currentlyLoggedInUser)}">
                                <div th:each="liker : ${message.likers}">
                                    <span th:text="${liker.username}"></span>
                                </div>
                                <form th:action="@{/profiles/{profileId}/messages/{messageId}/likes(profileId=${profile.profileId},messageId=${message.id})}" method="POST">
                                    <button type="submit">Like this</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div th:if="${isFriend}">
                        <p>Leave a comment</p>
                        <form method="POST" th:action="@{/profiles/{profileId}/messages/{messageId}/comments(profileId=${profile.profileId},messageId=${message.id})}">
                            <input type="text" name="comment" placeholder="Write a comment..." />
                            <button type="submit">Submit comment</button>
                        </form>
                    </div>

                    <div class="messageComments"> comments

                        <div th:each="comment : ${message.messageComments}">
                            <p th:text="${comment.owner.username}"></p>
                            <p th:text="${comment.createdAt.toString()}"></p>
                            <p th:text="${comment.content}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
