<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Cafebook - people</title>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div th:replace="fragments/layout :: header"></div>
        <div th:each="profile: ${profiles}">
            <span>
                <img style="height: 30px" th:src="@{/profiles/{id}/profilepicture(id=${profile.profileId})}" />
                <a th:href="@{/profiles/{pid}(pid=${profile.profileId})}" th:text="${profile.profileId}"></a>
                <!--<form  th:action="@{/friendRequests}" method="POST">
                    <input type="hidden" name="target" th:value="${profile.profileId}"/>
                    <button type="submit" value="Send Friend Request" >Send a Friend Request</button>
                </form>-->
            </span>
        </div>
    </body>
</html>
